<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pipe.ubb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UBB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrarUsuario" />
        <activity android:name=".RegistrarUsuarioJardinero" />
        <activity android:name=".Ventana_registro" />
        <activity android:name=".login_usuario" />
        <activity android:name=".modificar" />
        <activity android:name=".panel_usuario" />
        <activity android:name=".JardinerosLista" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Especifico" />
        <activity android:name=".Ver_Especifico" />
        <activity android:name=".Solicitar" />
        <activity android:name=".login_admin" />
        <activity android:name=".panel_admin" />
        <activity android:name=".mostrarUsuarios" />
        <activity android:name=".mostrarJardineros"></activity>
        <activity android:name=".login_jardinero" />
        <activity android:name=".panel_jardinero" />
        <activity android:name=".modificar_jardinero" />
    </application>

</manifest>